<p-inplace #iii >
  <span pInplaceDisplay>
      Click to Edit
  </span>
  <span pInplaceContent>
    <p-card class="card__class">
              
      <div class="header__class">  
          <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: 5px;"></button>
          <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary" (click)="close(iii)"></button>
      </div>
      <div> <input  class="input__class" type="text" value="PrimeNG" width="auto" pInputText> </div>
     
  </p-card>
  </span>
</p-inplace>
