<h1>PrimeNG</h1>

<!-- <app-drop-down-list></app-drop-down-list>
<hr>
<app-parent></app-parent> -->
<!-- <app-react-form-one> </app-react-form-one> -->
<app-parentlist></app-parentlist>
<!-- <button (click)="getQuery()">get query</button> -->
<!-- <app-intreceptor></app-intreceptor> -->
<!-- <app-router-parent></app-router-parent> -->
<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-react-form></app-react-form> -->
<!-- <app-throw-error></app-throw-error> -->
<!-- <app-decor></app-decor> -->
<!-- <app-parentasync></app-parentasync> -->
<!-- <app-inplace></app-inplace> -->
<!-- <app-progress></app-progress> -->
<!-- <app-droppipe></app-droppipe> -->
<!-- <app-service-async></app-service-async> -->
<!-- <app-formone></app-formone> -->