.dropdown_width{
    width: 200px;
}

.textRed{
    background-color: red;
}
.textGreen{
    background-color: green;
}
.textBlue{
    background-color: blue;
}
.textPurple{
    background-color: purple;
}